#search
    color rgb(199, 199, 199)
    background rgba(20, 20, 20, .7)

    h3
        font-size 14pt
        line-height 16pt
        text-transform none

    input
    button
        border none
        border-radius 0
        text-transform uppercase

    input
        color rgb(255, 255, 255)
        background rgb(218, 56, 50)

    button
        background rgb(6, 6, 6)
        color rgb(255, 255, 255)

    .search-result
        border-top 1px solid rgb(199, 199, 199)

        p
            font-weight bold
            font-size 11pt
            line-height 12pt

        .search-result-info
            p
                font-size 9pt
                line-height 10pt
                font-weight normal

            span
                font-style italic
