#search-results
    color rgb(199, 199, 199)
    background rgba(20, 20, 20, .7)

    h3
        font-size 14pt
        line-height 16pt

    button
        background rgb(6, 6, 6)
        color rgb(255, 255, 255)

    a
        color rgb(199, 199, 199)

    hr
        border none
        border-top 1px solid rgb(199, 199, 199)

    .search-result:hover
        .search-result-feedback
            transform: translateX(0)

    .search-result
        p
            font-weight 700
            font-size 11pt
            line-height 12pt

        .search-result-name
            border-bottom 1px solid rgb(199, 199, 199)
            background-color black

        .search-result-feedback
            text-transform lowercase
            text-decoration underline
            cursor pointer
            transition 0.3s
            transform: translateX(-100%)

        .search-result-info
            p
                font-size 9pt
                line-height 10pt
                font-weight 400

            span
                font-style italic

        .search-result-plaque
            .plaque-info
                font-weight 700
                font-size 34pt
                line-height 38pt
                white-space nowrap

                @media (max-width: 576px)
                    font-size 20pt
                    line-height 22pt

    .mitterelevantne
        background-color darkslategray

#db-feedback
    input
    textarea
        background transparent
        border-bottom 1px solid gray
