#text
#text-links
    color rgb(199, 199, 199)
    background rgba(20, 20, 20, .7)
    font-size 14pt
    line-height 16pt

#text-links
    font-weight bold

    a
        &.active
            color rgb(218, 56, 50)

            &:hover
                text-decoration none
