#text
    min-height 100%
    background-repeat no-repeat
    background-size cover
    background-position center
    background-attachment fixed
    overflow hidden

#text-text
#text-links
    color rgb(199, 199, 199)
    background rgba(20, 20, 20, .7)
    font-size 12pt
    line-height 14pt

#text-text
    font-weight 500

    img
        background rgba(255, 255, 255, .5)

#text-links
    font-weight 700
    text-transform uppercase

    a
        &.active
            color rgb(218, 56, 50)

            &:hover
                text-decoration none

#text-search
    background rgb(6, 6, 6)

    h3
        font-size 13pt
        line-height 15pt

    p
        color rgb(199, 199, 199)
        font-size 8pt
        line-height 10pt
        text-transform uppercase

    button
        background rgb(6, 6, 6)
        color rgb(255, 255, 255)
