#gallery
    .title
        color: rgb(255, 255, 255)
        background-color: rgba(0, 0, 0, 0.5)
        padding-left: 0.5em
        font-size: 20px
    .author
        color: rgba(255, 255, 255, 0.8)
        background-color: rgba(0, 0, 0, 0.3)
        padding-right: 0.5em
        font-size: 14px
        text-decoration: italic
