block text
    .row
        h1.col-12.mt-2= self.title
        .col-12
            .row.mt-5
                #text.col-4.pt-3.pb-2
                    each c, idx in self.content
                        .text-block.d-none(id=c.id)
                            +markdown(c.text)
                if self.content.length > 1
                    #text-links.col-4.ml-1.py-3
                        each c in self.content
                            a.text-link.d-block(href='#' + c.id)= c.title
