block text
    #text(style={ 'background-image': `url(${self.pictures[0]})` })
        h1= self.title
        each c in self.content
            div(id=c.id)
                +markdown(c.text)
        each c in self.content
            a(href='#' + c.id)= c.title
