.crossfade {
    display: inline;
    position: relative;
    // height: 50px;
    // width: 50px;
    margin: 0 auto;
    img {
        position:absolute;
        width: inherit;
        left: 0;
        -webkit-transition: opacity 0.4s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
    }

    img.transparent {
        opacity :0;
    }
}

@media print {
    * {
        color: #000 !important;
        background: none !important;
        overflow: visible !important;
    }

    #text {
        height: 100% !important;
        padding: 0 !important;
        background: none !important;
    }

    #text-pagetitle, #text-title {
        display: none !important;
    }

    #text-content {
        margin-top: 0 !important;
    }

    #search {
        width: 100% !important;
        max-width: 100% !important;
        flex-basis: 100% !important;
    }

    #search button {
        display: none !important;
    }

    #search input {
        margin-bottom: .5rem !important;
        padding: 0 !important;
    }

    #search .search-result .search-result-name {
        border-bottom: 1px solid #808080 !important;
    }

    #navigation {
        display: none !important;
    }
}
