#searchForm
    border: 0em solid var(--emem-nuputaust)
    border-radius 0.0em
    #mainSearchInput
        border-top-right-radius 0em
        border-bottom-right-radius 0em
    #mainSearchButton
        color var(--emem-v2ljataust)
        background-color var(--emem-nuputaust)
        border 0.5px solid var(--emem-v2ljataust)
        border-left 0em
        border-top-right-radius 0.25em
        border-bottom-right-radius 0.25em
        font-weight bold
        padding 0.0em
        cursor pointer
        &:hover
            background-color var(--emem-nupp-hover)
            color var(--emem-valge)
    #episoodifilter
        label
            text-align right
            padding 0.25em 2em 0em 0em
    .emem-text-input
        color var(--emem-v2ljatekst)
        background-color var(--emem-v2ljataust)
        border 0 0 0 1px solid var(--emem-nuputaust)
        border-radius 0.25em

.crossfade {
    display: inline;
    cursor: pointer;
    position: relative;
    width: 1.5em;
    margin: 0 auto;
    img {
        filter: invert(50%);
        position:absolute;
        width: inherit;
        left: 0;
        -webkit-transition: opacity 0.4s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
    }

    img.transparent {
        filter: invert(50%) sepia(100%) hue-rotate(90deg) saturate(3);
        opacity :0;
    }
}

dialog::backdrop {
  background-color: hsla(30, 100%, 50%, 0.15);
}

div.pere {
    .folded {
        display: none;
    }
    div.pereliige:nth-of-type(odd) {
    }
    li {
        font-size: 0.8rem;
    }
    div.perekirjed {
        padding: 0.5em 0.5em 0.5em 1em;
        background-color: hsla(0, 0%, 61%, 0.1);
        margin-bottom: 1em;
    }
}

.google-search {
    background: #55c735;
    color: rgb(251 255 2 / 60%) !important
    border-radius: 10px;
    padding: 5px;
    width: 1em;
    height: 1em;
    margin-left: 1em;
    display: inline-block;
}

@media print {
    * {
        color: #000 !important;
        background: none !important;
        overflow: visible !important;
    }

    #text {
        height: 100% !important;
        padding: 0 !important;
        background: none !important;
    }

    #text-pagetitle, #text-title {
        display: none !important;
    }

    #text-content {
        margin-top: 0 !important;
    }

    #search {
        width: 100% !important;
        max-width: 100% !important;
        flex-basis: 100% !important;
    }

    #search button {
        display: none !important;
    }

    #search input {
        margin-bottom: .5rem !important;
        padding: 0 !important;
    }

    #search .search-result .search-result-name {
        border-bottom: 1px solid #808080!important;
    }

    #navigation {
        display: none !important;
    }
}
