// paletikonstandid
:root
    --emem-valge #f9f7fa
    --emem-tekst #562948
    --emem-nuputaust #310202
    --emem-nuputekst #d09dc0
    --emem-nupp-aktiivne #8000ff
    --emem-nupp-hover #460000
    --emem-v2ljataust #b71b1b
    --emem-v2ljatekst #26190a
    --emem-invalid hsl(0, 100%, 50%, 0.25)

// stiilid
.emem-valge
.emem-valge-hover:hover
    color var(--emem-tekst)
    background-color var(--emem-valge)
.emem-tekst
    color var(--emem-valge)
    background-color var(--emem-tekst)
.emem-nuputaust
    color var(--emem-nuputekst)
    background-color var(--emem-nuputaust)
.emem-nuputekst
    color var(--emem-nuputaust)
    background-color var(--emem-nuputekst)
.emem-nupp-aktiivne
.emem-nupp-aktiivne:hover
    color var(--emem-nuputekst)
    background-color var(--emem-nupp-aktiivne)
.emem-nupp-aktiivne:hover
    color var(--emem-nuputekst)
    background-color var(--emem-nupp-hover)
.emem-v2ljataust
    color var(--emem-v2ljatekst)
    background-color var(--emem-v2ljataust)
.emem-v2ljatekst
    color var(--emem-v2ljataust)
    background-color var(--emem-v2ljatekst)
.emem-invalid
    color var(--emem-invalid)
    background-color var(--emem-invalid)
