#popup-background
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background rgba(20, 20, 20, .5)
    z-index 1000
    backdrop-filter blur(5px)

#popup-content
    position fixed
    top 0
    right 20%
    bottom 0
    left 20%
    color rgb(6, 6, 6)
    background rgb(255, 255, 255)
    overflow-y auto
    -webkit-overflow-scrolling touch
    z-index 2000

    @media (max-width: 768px)
        right 10%
        left 10%

    @media (max-width: 576px)
        right 2%
        left 2%

    h2
        margin 2rem 0
        font-style normal
        font-size 30pt
        line-height 32pt
        text-align center
        text-shadow none

        @media (max-width: 576px)
            font-size 20pt
            line-height 22pt

    h3
        margin 2rem 0 1rem 0
        font-style normal
        font-size 16pt
        line-height 18pt
        text-align center
        text-shadow none

    p:last-of-type
        margin-bottom 0

    a
    a:active
    a:hover
    a:visited
        color rgb(6, 6, 6)
        text-decoration underline

    ul
        padding-left 20px

    img
        width 100%

#popup-close
    height 30px
    width 30px
    margin 1rem auto 1rem auto
    cursor pointer
