extends /_templates/layout.pug


block content
    #search.col-4.pt-3.pb-2.mr-1
        h3= self.search.title
        form.form(action=self.search.url, method='GET')
            input.col-8(type='search', name='q', placeholder=self.search.placeholder, autofocus)
            button.col-4= self.search.button


block script
    script.
        $(function () {
            var qs = function (key) {
                key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
                var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
                return match && decodeURIComponent(match[1].replace(/\+/g, " "));
            }

            var query = qs('q')

            if (query) {
                $('input[name="q"]').val(query)
            }
        })
