@media print {
    * {
        color: #000 !important;
        background: none !important;
        overflow: visible !important;
    }

    #text {
        height: 100% !important;
        padding: 0 !important;
        background: none !important;
    }

    #text-pagetitle, #text-title {
        display: none !important;
    }

    #text-content {
        margin-top: 0 !important;
    }

    #search {
        width: 100% !important;
        max-width: 100% !important;
        flex-basis: 100% !important;
    }

    #search button {
        display: none !important;
    }

    #search input {
        margin-bottom: .5rem !important;
        padding: 0 !important;
    }

    #search .search-result .search-result-name {
        border-bottom: 1px solid #808080 !important;
    }

    #navigation {
        display: none !important;
    }
}
